<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934539615995-ktmkka4ig1pjsgvknimir7kshjcpdf3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934539615995-ktmkka4ig1pjsgvknimir7kshjcpdf3j</string>
	<key>API_KEY</key>
	<string>AIzaSyA9kMPDvCzkDNHyc7X2mAkF87IPugenepk</string>
	<key>GCM_SENDER_ID</key>
	<string>934539615995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttertask</string>
	<key>PROJECT_ID</key>
	<string>flutter-todo-app-2308f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-todo-app-2308f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934539615995:ios:7ba255ab46cc9ee5269a5e</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-todo-app-2308f.firebaseio.com</string>
</dict>
</plist>